.color-pallete { /* reference only */
color: #403e37;
color: #fff9a6;
color: #61663d;

color: #4c61a2;
color: #912b16;

color: #773729;
color: #e86038;
color: #ffb67b;

color: #d3dcd4;
color: #25855a;
color: #9db4bd;
color: #5f513a;
color: #edbea1;
color: #d56e45;
} 


body { background-color: #4c61a240; color: #d3dcd4; margin-top: 0; font-family: "Verdana";}

#app-title { position: fixed; width: 85%; top: 0; background: #151515; border-radius: 5px; padding: 1px;}
#app-title h1 { display: inline-block; margin: 1px 0 1px 15px; color: #d3dcd4; font-size: 22px; padding: 5px 0 5px 0;}

#title-menu { float: right; padding-top: 10px; }
#title-menu { width: 30px; height: 30px;}
#title-menu img:hover{ cursor: pointer; }
.draggable-area { -webkit-app-region: drag; margin-top: 5px; }
#indicator-bubble { padding: 5px; float: right;}
.dropdown {display: inline-block; position: absolute; right: 10px;  box-shadow: #d3dcd4; z-index: 10;}
.dropdown button { border-radius: 5px; color: #d3dcd4; background: #151515; border: 1px solid #d3dcd4; padding: 10px;}
.dropdown button:hover {cursor: pointer;}
.dropdown button:focus {outline: none;}
.dropdown button:active {background: #000;}
.hidden { display: none; }

#chat-nodes { margin-top: 53px; font-size: 14px;}

.container { width: 70%; overflow-wrap: break-word; background-color: #666; border-radius: 5px; padding: 10px; margin: 10px 0; }
.container.me { margin-left: 23%; }
.container::after { content: ""; clear: both; display: table; } 
.container p {margin-top: 0; }
.container img { float: left; max-width: 60px; width: 100%; margin-right: 20px; border-radius: 50%; }
.container img.right { float: right; margin-left: 20px; margin-right:0; }

#chat-nodes {position: fixed; max-height:82%; width: 95%; overflow: auto; }

.darker { background-color: #333; }
/* .right-text { text-align: right; } */

.time-right { float: right; color: #aaa; }
.time-left { float: left; color: #999; }

#chat-submission-wrap { position: fixed; bottom: 0; margin-bottom: 9px; margin-right: 9px; width: 95%; text-align: right;}
#chat-submission-wrap form { width: 100%; }
#chat-submission-wrap form button {border-radius: 5px; padding: 10px; background: #151515; color: white;}
#chat-submission-wrap input { padding-top: 10px; padding-bottom: 10px; margin-right: -5px; width: 85%;border-radius: 5px;}
#chat-submission-wrap input:focus {outline: none;}

::-webkit-scrollbar { width: 12px; } 
::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; }
::-webkit-scrollbar-thumb { border-radius: 10px; box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }